* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

h1, h2 {
  margin-bottom: 15px;
}

h3, h4, h5, h6, p {
  margin-bottom: 15px;
}

nav {
  width: 100%;
  height: 120px;
  background-color: transparent;
  display: flex;
  font-family: "Caveat";
  font-size: 25pt;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
}
nav .logo {
  width: 167px;
  height: 55px;
  align-items: left;
  justify-content: left;
  margin-left: -70px;
}
nav a {
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: black;
}
nav button {
  width: 158px;
  height: 52px;
  font-family: "Caveat";
  font-size: 25pt;
  align-items: center;
  border-radius: 25px;
  border-style: none;
  background-color: #FFD972;
}
nav button a {
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: black;
}

footer {
  width: 100%;
  height: 60px;
  display: flex;
  font-family: "Lato";
  font-style: italic;
  font-size: 15pt;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
}
footer .c1 {
  display: flex;
  align-items: center;
}
footer .c1 p {
  color: black;
}
footer .footlinks {
  justify-content: center;
  display: flex;
}
footer .footlinks a {
  margin: 10px;
  text-decoration: none;
  color: black;
}
footer .socials {
  justify-content: space-between;
  width: 30px;
  height: 30px;
  display: flex;
}
footer .socials .fb {
  margin: 5px;
}
footer .socials .ig {
  margin: 5px;
}

.hero {
  width: 100%;
  height: 100%;
  background-color: #f25c54;
  z-index: -1;
  position: relative;
}
.hero .heroimg img {
  width: 100%;
  opacity: 30%;
}
.hero .centerpage {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.hero .centerpage .bigcircle {
  border-radius: 200px;
  background-color: #ffd972;
  width: 358px;
  height: 358px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .centerpage .bigcircle .textbox {
  width: 162px;
  height: 162px;
}
.hero .centerpage .bigcircle .textbox h2 {
  font-family: "Caveat";
  font-size: 24pt;
}
.hero .centerpage .bigcircle .textbox p {
  font-family: "Lato";
  font-size: 13pt;
  letter-spacing: 1pt;
}
.hero .centerpage .smallcircle {
  border-radius: 200px;
  background-color: #fcbcb8;
  width: 168px;
  height: 168px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(50%, 75%);
}
.hero .centerpage .smallcircle .textbox {
  width: 162px;
  height: 162px;
}
.hero .centerpage .smallcircle .textbox p {
  font-family: "Lato";
  font-style: italic;
  font-size: 10pt;
  letter-spacing: 1pt;
}

.login {
  background-color: #FFD972;
  height: 100%;
  width: 100%;
}
.login .row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.login .row .loginhere {
  width: 50%;
  display: grid;
  justify-content: left;
  align-items: center;
}
.login .row .loginhere h1 {
  font-family: "Lato Black";
  font-size: 30pt;
}
.login .row .loginhere .formbox {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
}
.login .row .loginhere .submit {
  width: 250px;
  height: 50px;
  background-color: #FFD972;
  border-style: solid;
  border-color: black;
  border-radius: 33%;
}
.login .row .signup {
  width: 50%;
  display: grid;
  justify-content: right;
  align-items: center;
}
.login .row .signup p {
  font-family: "Lato";
  font-size: 12pt;
  font-style: italic;
}
.login .row .signup h1 {
  font-family: "Lato Black";
  font-size: 30pt;
}
.login .row .signup .formbox {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
}
.login .row .signup .submit {
  width: 250px;
  height: 50px;
  background-color: #FFD972;
  border-style: solid;
  border-color: black;
  border-radius: 33%;
}

/*# sourceMappingURL=styles.css.map */
