.hero {
    width: 100%;
    height: 100%;
    background-color: #79d02d;
    z-index: -1;
    position:relative;
  
    .heroimg {
      img {
        width: 100%;
        // height: 100%;
        opacity: 30%;
      }
    }
}