.browse {
  .hero {
    width: 100%;
    height: 100%;
    background-color: #a7e8bd;
    z-index: -1;
    position: relative;

    .heroimg {
      img {
        width: 100%;
        // height: 100%;
        opacity: 30%;
      }
      
      .content {
        position: relative;
      }
    }
  }
}
