.browse {
  .hero {
    width: 100vw;
    height: 100vh;
    background-color: #a7e8bd;
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;

    .heroimg {
      img {
        width: 100vw;
        opacity: 30%;
      }
      

    }
  }      

  .content {
    // position: absolute;
    justify-content: center;
    align-items: center;
    margin: 75px;


        h1 {
          font-family: 'Caveat Bold';
          font-size: 25pt;
          // margin-left: 125px;
        }

        .row {
          .col {
            display: flex;
            margin: 20px;
            justify-content: space-evenly;

            .pizza {

              display: flex;
              .pizzaimage {
                width: 300px;
                height: 265px;
                background-image: url(../img/recipe-pizza.jpg);
                background-size:cover;
                background-position:center;
                background-repeat: repeat;
                border-radius: 26px;
                overflow: hidden;
              }

              .card {
                width: 225px;
                height: 265px;
                align-items: center;
                background-color: #fff;
                border-radius: 26px;
                
                .cardcontent {
                  padding: 25px;
                  justify-content: space-evenly;

                h1 {
                  font-family: 'Lato Black';
                  font-size: 15pt;
                  text-align: center;
                  text-decoration: underline;
                }
                p {
                  font-family: 'Lato';
                  font-size: 8pt;
                  letter-spacing: .5pt;
                  
                }

                .info {
                  
                  .info1{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding:10px;
                    
                    .time {
                      width: 23px;
                      height: 23px;
                    }
                    p {
                      text-align: center;
                    }
                  }

                  .info2 {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding:15px;

                    .yield {
                      width: 23px;
                      height: 23px;
                    }
                    p {
                      text-align: center;
                    }

                  }

                  }
                }
              }
            }

            .burger {

              display: flex;
              .burgerimage {
                width: 300px;
                height: 265px;
                background-image: url(../img/recipe-burger.jpg);
                background-size:cover;
                background-position:center;
                background-repeat: repeat;
                border-radius: 26px;
                overflow: hidden;
              }

              .card {
                width: 225px;
                height: 265px;
                align-items: center;
                background-color: #fff;
                border-radius: 26px;
                
                .cardcontent {
                  padding: 25px;
                  justify-content: space-evenly;

                h1 {
                  font-family: 'Lato Black';
                  font-size: 15pt;
                  text-align: center;
                  text-decoration: underline;
                }
                p {
                  font-family: 'Lato';
                  font-size: 8pt;
                  letter-spacing: .5pt;
                  
                }

                .time, .yield {
                  width: 23px;
                  height: 23px;
                  justify-content:center;
                  align-items: center;
                  display: flex;
                }

                

                }

              }
            }

            .biryani {
              .byraniimage {
                width: 300px;
                height: 265px;
                background-image: url(../img/recipe-pilaf.jpg);
                background-size:cover;
                background-position:center;
                background-repeat: repeat;
                border-radius: 26px;
                overflow: hidden;
              }
              display: flex;
              img {
                width: 300px;
                height: 265px;
                // background-repeat: repeat;
                border-radius: 26px;
              }

              .card {
                width: 225px;
                height: 265px;
                align-items: center;
                background-color: #fff;
                border-radius: 26px;
                
                .cardcontent {
                  padding: 25px;
                  justify-content: space-evenly;

                h1 {
                  font-family: 'Lato Black';
                  font-size: 15pt;
                  text-align: center;
                  text-decoration: underline;
                }
                p {
                  font-family: 'Lato';
                  font-size: 8pt;
                  letter-spacing: .5pt;
                }

                .time, .yield {
                  width: 23px;
                  height: 23px;
                  justify-content:center;
                  align-items: center;
                  display: flex;
                }

                

                }

              }
            }

            .chowmein {

              display: flex;
              .meinimage {
                width: 300px;
                height: 265px;
                background-image: url(../img/recipe-chowmein.jpg);
                background-size:cover;
                background-position:center;
                background-repeat: repeat;
                border-radius: 26px;
                overflow: hidden;
              }

              .card {
                width: 225px;
                height: 265px;
                align-items: center;
                background-color: #fff;
                border-radius: 26px;
                
                .cardcontent {
                  padding: 25px;
                  justify-content: space-evenly;

                h1 {
                  font-family: 'Lato Black';
                  font-size: 15pt;
                  text-align: center;
                  text-decoration: underline;
                }
                p {
                  font-family: 'Lato';
                  font-size: 8pt;
                  letter-spacing: .5pt;
                }

                .time, .yield {
                  width: 23px;
                  height: 23px;
                  justify-content:center;
                  align-items: center;
                  display: flex;
                }

                

                }

              }
            }


          }
        }


      }
}
