.formHolder {
    max-width: 500px;
    margin: 0;
    /* justify-content: center;
    align-items: center;
    display: flex; */
    margin-top: 40px;
    position: relative;

    .steps, .ingred{
    position: relative;
    margin-bottom: 50px;
    }

    
  }
  
  
  .formHolder .ingred input, .formHolder .steps input {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid black;
  
  
  }
  
  .formHolder .ingred .addBtn,
  .formHolder .steps .addSBtn {
    width: 50px;
    height: 50px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    border-radius: 50%;
    cursor: pointer;
    position:absolute;
    right: 5px;
    bottom: 5px;
  }
  
  .formHolder .ingred .addBtn p,
  .formHolder .steps .addSBtn p{
    margin: 5px;
    user-select: none;
  }