.create {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  max-width: 980px;

  .formHolder {
    max-width: 980px;
    margin: 0;

    margin-top: 40px;
    position: relative;

    h1 {
      font-family: "Caveat Bold";
      font-size: 25pt;
    }
    .steps,
    .ingred {
      position: relative;
      margin-bottom: 50px;
      font-family: 'Lato';


      #step0 {
        border-radius: 25px;
        background-color: #EFA7A7;
        border-style: none;
      }

      h3 {
        font-size: 20pt;
      }
    }

    input {
      display: block;
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      border: none;
      border-bottom: 2px solid black;
    }

    .addbtn {
      max-width: 38px;
      max-height: 38px;
      background-color: #EFA7A7;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 50px;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      right: 5px;
      bottom: 5px;

      p {
        margin: 5px;
        user-select: none;
        font-size: 20pt;
        font-family: 'GilSans Light';
      }
    }

    #submitBtn {
      background-color: #EFA7A7;
      color: #000;
      border-radius: 25px;
      border-style: none;
      font-family: 'Caveat';
      font-size: 25pt;
    }


  }
}
