footer {
  .footerWrap {
    max-width: 100%;
    max-height: 60px;
    display: flex;
    font-family: 'Lato Italic';
    font-size: 15pt;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    position: fixed;
    margin: 35px;

    .c1 {
      display: flex;
      align-items: center;
      color: black;
    }

    .footlinks {
      justify-content: center;
      display: flex;
      a {
        margin: 10px;
        text-decoration: none;
        color: black;
      }
    }

    .socials {
      justify-content: space-between;
      width: 30px;
      height: 30px;
      display: flex;

      .fb {
        margin: 5px;
      }
      .ig {
        margin: 5px;
      }
    }
  }
}
