.home {
  .hero {
    width: 100vw;
    height: 100vh;
    background-color: #f25c54;
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;

    .heroimg {
      img {
        width: 100vw;
        opacity: 30%;
      }
    }
  }

  // .centerpage {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    // .circleWrapper {
    //   position: relative;
    //   height: 80vh;

      .bigcircle {
        border-radius: 200px;
        background-color: #ffd972;
        width: 358px;
        height: 358px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 6px 30px 29px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items:center;
        justify-content: center;


        .textbox {
          // width: 362px;
          // height: 362px;
          padding: 33px;
          h1 {
            font-family: 'Caveat Bold';
            font-size: 24pt;
          }
          p {
            font-family: 'Lato';
            font-size: 13pt;
            letter-spacing: 1pt;
          }
        }
      }

      .smallcircle {
        border-radius: 200px;
        background-color: #fcbcb8;
        max-width: 168px;
        max-height: 168px;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(50%, 75%);
        z-index: -1;
        box-shadow: 6px 30px 29px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items:center;
        justify-content: center;

        .textbox {
          // width: 162px;
          // height: 162px;
          padding-top: 66px;
          padding-bottom: 66px;
          padding-right: 33px;
          padding-left: 36px;
          
          p {
            font-family: 'Lato Italic';
            font-size: 8pt;
            letter-spacing: 1pt;
          }
        }
      }
    // }
  // }
}
