.home {
  .hero {
    width: 100vw;
    height: 100vh;
    background-color: #f25c54;
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;

    .heroimg {
      img {
        // height: 100vh;
        width: 100vw;
        opacity: 30%;
      }
    }
  }

  .centerpage {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    .circleWrapper {
      position: relative;
      height: 80vh;

      .bigcircle {
        border-radius: 200px;
        background-color: #ffd972;
        width: 358px;
        height: 358px;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);

        .textbox {
          width: 162px;
          height: 162px;
          h2 {
            font-family: "Caveat";
            font-size: 24pt;
          }
          p {
            font-family: "Lato";
            font-size: 13pt;
            letter-spacing: 1pt;
          }
        }
      }

      .smallcircle {
        border-radius: 200px;
        background-color: #fcbcb8;
        width: 168px;
        height: 168px;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(50%, 75%);

        .textbox {
          width: 162px;
          height: 162px;
          p {
            font-family: "Lato";
            font-style: italic;
            font-size: 10pt;
            letter-spacing: 1pt;
          }
        }
      }
    }
  }
}
