.login {
    background-color: #FFD972;
    height: 100vh;
    .row {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        .loginhere {
            margin: 250px;
            width: 50%;
            display:grid;
            justify-content: left;
            align-items: center;

            h1 {
                font-family: 'Lato Black';
                font-size: 30pt;
            }

            .formbox {
                width: 100%;
                height: 50%;
                margin-bottom: 10px;
                border: none;
                border-bottom: 2px solid black;
                background-color: transparent;
            }

            .submit {
                width: 200px;
                height: 50px;
                font-family:'Caveat';
                font-size: 25pt;
                background-color: #FFD972;
                border-style: solid;
                border-color: black;
                border-radius: 26px; 
            }
        }

        .signup {
            width: 50%;
            margin: 200px;
            display:grid;
            justify-content: right;
            align-items: center;
            p {
                font-family: 'Lato';
                font-size: 12pt;
                font-style: italic;
            }
            h1 {
                font-family: 'Lato Black';
                font-size: 30pt;
            }

            .formbox {
                width: 100%;
                height: 50%;

                margin-bottom: 10px;
                border: none;
                border-bottom: 2px solid black;
                background-color: transparent;
            }

            .submit {
                width: 250px;
                height: 50px;
                font-family:'Caveat';
                font-size: 25pt;
                background-color: #FFD972;
                border-style: solid;
                border-color: black;
                border-radius: 26px; 
            }


        }
    }
}