nav {
  width: 100%;
  height: 120px;
  background-color: transparent;
  display: flex;
  font-family: "Caveat";
  font-size: 25pt;
  justify-content: space-evenly;
  align-items: center;
  // position: absolute;

  .logo {
    width: 167px;
    height: 55px;
    align-items: left;
    justify-content: left;
    margin-left: -70px;
  }

  a {
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  button {
    width: 158px;
    height: 52px;
    font-family: "Caveat";
    font-size: 25pt;
    align-items: center;
    border-radius: 25px;
    border-style: none;
    background-color: #ffd972;

    a {
      justify-content: space-evenly;
      align-items: center;
      text-decoration: none;
      color: black;
    }
    }
  }
}
