@import "structures.scss";

@import "home.scss";

@import "browse.scss";
@import "subburg.scss";
@import "subchicken.scss";
@import "subburg.scss";
@import "subchow.scss";

@import "login.scss";

@import "yourrecipes.scss";
@import "createrecipe.scss";
@import "viewrecipe.scss";
@import "editrecipe.scss";

@import "";