// DESK
@media screen and (min-width: 1280px) and (max-width: 1920px) {
    .pizzarecipe {
        .row{
            .col{
                display: flex;
                .pza {
                    img {
                    width: 468px;
                    height: 421px;
                    border-radius: 28px;
                    overflow: hidden;
                    }                    
                }
    
                .desc {
                    display: grid;
                    h2, h3 {
                        font-family: 'Lato Black';
                        font-size: 25pt;
                    }
    
                    p {
                        font-family: 'Caveat';
                        font-size: 20pt;
                    }
                }
    
            }
    
            .col {
                .ingredient {
                    h2 {
                    font-family: 'Lato Black';
                    font-size: 25pt;
                    }
    
                    li {
                        list-style: none;
                        font-family: 'Caveat';
                        font-size: 20pt;
                    }
    
                }
    
            }
    
            .col {
                .instructions {
                    h2{
                        font-family: 'Lato Black';
                        font-size: 25pt;
                    }
    
                    li {
                        list-style: none;
                        font-family: 'Caveat';
                        font-size: 20pt;
                    }
                }
            }
    
            button {
                width: 128px;
                height: 42px;
                background-color: #FFD972;
                border-style: none;
                border-radius: 25px;
    
                a {
                    text-decoration: none;
                    font-family: 'Caveat';
                    font-size: 20pt;
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}

// TAB
// @media screen and (min-width: 768px) and (max-width: 1279px) {
//     .pizzarecipe {
//         .row{
//             .col{
//                 display: flex;
//                 .pza {
//                     width: 468px;
//                     height: 421px;
//                 }
    
//                 .desc {
//                     h2 {
//                         font-family: 'Lato Black';
//                         font-size: 25pt;
//                     }
    
//                     p {
//                         font-family: 'Caveat';
//                         font-size: 20pt;
//                     }
//                 }
    
//             }
    
//             .col {
//                 .ingredient {
//                     h2 {
//                     font-family: 'Lato Black';
//                     font-size: 25pt;
//                     }
    
//                     li {
//                         list-style: none;
//                         font-family: 'Caveat';
//                         font-size: 20pt;
//                     }
    
//                 }
    
//             }
    
//             .col {
//                 .instructions {
//                     h2{
//                         font-family: 'Lato Black';
//                         font-size: 25pt;
//                     }
    
//                     li {
//                         list-style: none;
//                     }
//                 }
//             }
    
//             button {
//                 width: 128px;
//                 height: 42px;
//                 background-color: #FFD972;
//                 border-style: none;
//                 border-radius: 25px;
    
//                 a {
//                     text-decoration: none;
//                     font-family: 'Caveat';
//                     font-size: 20pt;
//                 }
//             }
//         }
//     }
// }

// // MOB
// @media screen and (min-width: 360px) and (max-width: 767px) {
//     .pizzarecipe {
//         .row{
//             .col{
//                 display: flex;
//                 .pza {
//                     width: 468px;
//                     height: 421px;
//                 }
    
//                 .desc {
//                     h2 {
//                         font-family: 'Lato Black';
//                         font-size: 25pt;
//                     }
    
//                     p {
//                         font-family: 'Caveat';
//                         font-size: 20pt;
//                     }
//                 }
    
//             }
    
//             .col {
//                 .ingredient {
//                     h2 {
//                     font-family: 'Lato Black';
//                     font-size: 25pt;
//                     }
    
//                     li {
//                         list-style: none;
//                         font-family: 'Caveat';
//                         font-size: 20pt;
//                     }
    
//                 }
    
//             }
    
//             .col {
//                 .instructions {
//                     h2{
//                         font-family: 'Lato Black';
//                         font-size: 25pt;
//                     }
    
//                     li {
//                         list-style: none;
//                     }
//                 }
//             }
    
//             button {
//                 width: 128px;
//                 height: 42px;
//                 background-color: #FFD972;
//                 border-style: none;
//                 border-radius: 25px;
    
//                 a {
//                     text-decoration: none;
//                     font-family: 'Caveat';
//                     font-size: 20pt;
//                 }
//             }
//         }
//     }
// }

// .pizzarecipe {
//     .row{
//         .col{
//             display: flex;
//             .pza {
//                 width: 468px;
//                 height: 421px;
//             }

//             .desc {
//                 h2 {
//                     font-family: 'Lato Black';
//                     font-size: 25pt;
//                 }

//                 p {
//                     font-family: 'Caveat';
//                     font-size: 20pt;
//                 }
//             }

//         }

//         .col {
//             .ingredient {
//                 h2 {
//                 font-family: 'Lato Black';
//                 font-size: 25pt;
//                 }

//                 li {
//                     list-style: none;
//                     font-family: 'Caveat';
//                     font-size: 20pt;
//                 }

//             }

//         }

//         .col {
//             .instructions {
//                 h2{
//                     font-family: 'Lato Black';
//                     font-size: 25pt;
//                 }

//                 li {
//                     list-style: none;
//                 }
//             }
//         }

//         button {
//             width: 128px;
//             height: 42px;
//             background-color: #FFD972;
//             border-style: none;
//             border-radius: 25px;

//             a {
//                 text-decoration: none;
//                 font-family: 'Caveat';
//                 font-size: 20pt;
//             }
//         }
//     }
// }