// DESK
@media screen and (min-width: 1280px) and (max-width: 1920px) {}

// TAB
@media screen and (min-width: 768px) and (max-width: 1279px)  {

}

// MOB
@media screen and (min-width: 360px) and (max-width: 767px) {
    
}           